.container { /*This is the box that has all the other divs in it so that i can control the max and min size of the website.*/
    width:100%;
}

.header_left { /*Separates the Header and Navigation div from the rest of the divs */
    float:left;
    width:80%;
}
.header{ /*The header of th design to show audience the web is about climate change */
    background-color:#59c3c3;  
    width: 80%;
    height: 30px;
    text-align: center;
    font-family: monospace;
    font-size: 26;
    float:left;
}
ul{ /*sets list style so that no bullet points appear */
    list-style-type:none; 
    
    
}
li a { /*Controls the list of the navigation */
    float:left;
    display: block;
    background-color: #ebebeb;
    font-size: 13px;
    border-style: solid;
    border-color: gray;
    padding:5px;
    object-position: left;
    
    
     }
.external_links li a { /*controls the list of the external links */
    
    font-family: monospace;
    float: left;
    display: block;
    background-color: #317b9a;
    font-size: 13px;
    border-style: solid;
    border-color: #22576D;
    padding:5px;
    width: 105;
    height: 45;
    
    
    
     }
.external_links li a:hover{ /*As a mouse cursor hovers over the link the box will change colour as an indicator */
    background-color:#2C6F8C;
}
li a:hover{ /*As a mouse cursor hovers over the link the box will change colour as an indicator */
    background-color:darkgray;
}
.navigation{ /*The link div to other pahges on the website */
    
    width: 400px;
    height: 30px;
    background-color: #ebebeb;
    text-align: center;
    font-family: monospace;
    font-size: 20;
    margin-bottom: 44px;
}
.external_links{ /*Links to other pages not associated with the website*/
    text-align: center;
    width:100%;
    background-color: #317b9a;
    font-family:monospace;
    font-size: 23;
    height: 135px;
    
    
    
    
}
.main i{ /*Controls the small text at the bottom of the page*/
   font-size: 12; 
}
.main{ /*Controls the main writing about climate change*/
    background-color: #f45b69;
    height: 900;
    margin: auto;
    width: 850px;
    padding-top: 30;
    font-family: monospace;
    font-size: 20;
}
.image{ /*Adds a cartoon that i made about climate change and how time is slowly running out*/
    content: url(Improved_Climate_Cartoon.png);
    width: 685;
    padding: 5px
    
}
.content{ /*controls the position of the image*/
  margin-top: 10;
  float: left; 
    
    
    
}
@media screen and (max-width: 10000px) { /*controls the min and max hieght and width of the web*/
    .navigation, .header, .main, .external_links, .container, .content, .header_left {
        width: 100%;
        float:none;
        margin-left: 0;
        margin-right:0;
        margin-top: 0;
    }
}

body{
    
}